@layer components {
  .content-prose {
    @apply prose prose-sm max-w-none
        dark:prose-invert
        prose-p:my-2
        prose-ul:my-2
        prose-ol:my-2
        prose-headings:mb-3
        prose-pre:my-3
        font-noto-sans-arabic
        prose-code:before:content-none prose-code:after:content-none
        text-primary
  }
}

@layer components {
  .code-block {
    @apply bg-light-400 dark:bg-midnight-800;
  }
}