@layer components {
  .md-prose {
    @apply prose max-w-none font-noto-sans-arabic prose-code:text-direction
     prose-pre:d-ltr prose-code:d-ltr 
    prose-code:before:content-none prose-code:after:content-none prose-code:p-1
    prose-li:list-inside prose-p:my-2 prose-h2:my-4 prose-h3:my-3 prose-p:text-neutral-900 dark:prose-p:text-neutral-100
    prose-blockquote:py-1 prose-blockquote:my-2 prose-blockquote:not-italic
    prose-blockquote:duration-200 prose-blockquote:border-l-0 prose-blockquote:border-r-4
  prose-blockquote:border-r-gray-200 prose-blockquote:pr-4 prose-blockquote:bg-gray-100
  prose-a:text-primary hover:prose-a:text-primary prose-a:duration-200
  prose-pre:bg-neutral-800 prose-code:bg-neutral-200 prose-pre:p-0
    prose-pre:max-h-140

  dark:prose-headings:text-primary dark:prose-p:text-primary
  dark:prose-li:text-primary dark:prose-strong:text-primary
  dark:prose-blockquote:border-r-neutral-400 prose-blockquote:pl-0 dark:prose-blockquote:bg-primary
  dark:prose-a:text-primary dark:hover:prose-a:text-primary
  dark:prose-code:bg-neutral-800 dark:prose-code:text-neutral-200;
    
  }
}


@layer components {
  .content-prose {
    @apply prose prose-sm max-w-none
        dark:prose-invert
        prose-p:my-2
        prose-ul:my-2
        prose-ol:my-2
        prose-headings:mb-3
        prose-pre:my-3
        font-noto-sans-arabic
  }
}