/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(163 163 163);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(115 115 115);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(82 82 82);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(115 115 115);
}