@theme {

  /* Error */
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa2a2;
  --color-red-400: #ff6467;
  --color-red-500: #fb2c36;
  --color-red-600: #e7000b;
  --color-red-700: #c10007;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;

  /* Success */
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a8;
  --color-green-400: #05df72;
  --color-green-500: #00c950;
  --color-green-600: #00a63e;
  --color-green-700: #008236;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
  
  /* Sunshine */
  --color-sunshine-50: #fff1f3;
  --color-sunshine-100: #ffe4e9;
  --color-sunshine-200: #ffccd8;
  --color-sunshine-300: #fea3b7;
  --color-sunshine-400: #fd6f92;
  --color-sunshine-500: #f63d6f;
  --color-sunshine-600: #de1a58;
  --color-sunshine-700: #c0104c;
  --color-sunshine-800: #a11046;
  --color-sunshine-900: #891242;
  --color-sunshine-950: #4d0420;

  /* Light */
  --color-light-50: #fefefe; /* Background shade */
  --color-light-100: #f4f4f4;
  --color-light-200: #eaeaea;
  --color-light-300: #e0e0e0;
  --color-light-400: #d6d6d6;
  --color-light-500: #cccccc;
  --color-light-600: #c2c2c2;
  --color-light-700: #b8b8b8;
  --color-light-800: #aeaeae;
  --color-light-900: #a4a4a4;
  --color-light-950: #9a9a9a;

  /* Midnight */
  --color-midnight-50: #dcdcdc;
  --color-midnight-100: #bebebe;
  --color-midnight-200: #a0a0a0;
  --color-midnight-300: #828282;
  --color-midnight-400: #646464;
  --color-midnight-500: #545454;
  --color-midnight-600: #444444;
  --color-midnight-700: #343434;
  --color-midnight-800: #252525;
  --color-midnight-900: #171717;
  --color-midnight-950: #0a0a0a; /* Background shade (Dark mode) */
}



